/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2015, 17:31:36
    Author     : stanislawfreund
*/

.header-title{
  margin-left: 40px;
  color: #ffffff;
}

.search-button-color{
  background-color: #444444 !important;

}

.white-color{
  color: #ffffff;
}

.grey-color{
  color: #209edb;
}

.footer-color{
  color: #6d6e72;
}

.black-font{
  color:#000000;
}

.input-field-search{
  margin-top: 8px;
  float: left;
  margin-left: -30px;
}

.input-field-location{
  margin-top: 8px;
  float: left;
  margin-left: -30px;
}